body,
a {
   font-family: 'Arial', sans-serif;
   margin: 0;
   color: #fff;
   text-decoration: none;
}

a:hover {
   color: #ecf0f1;
}

/* Header Styles */

header {
   background-color: #3498db;
   padding: 20px 0;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   display: flex;
   justify-content: space-between; /* Align items horizontally */
   height: 80px
}

.logo {
   flex-grow: 1;
   text-align: left;
   margin-left: 70px;
}

.logo h1 {
   font-size: 36px;
}

nav ul {
   list-style: none;
   display: flex;
   margin: 0;
}


.nav-button {
   display: inline-block;
   padding: 20px 25px;
   text-decoration: none;
   color: #fff;
   background-color: #0c2e45;
   border-radius: 5px;
   transition: background-color 0.3s ease;
   font-size: 18px;
   margin-right: 20px; 
   margin-top: 10px;
}

.nav-button:hover {
   background-color: #061f2f;
}

/* Main Section Styles */

.main-section {
   position: relative;
   text-align: center;
   color: #ffffff;
   padding: 300px 0; /* Increased padding for a larger section */
}

.main-section::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1502920514313-52581002a659?q=80&w=1467&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover; */
   z-index: -1;
}

.main-section-text {
   max-width: 800px;
   margin: 0 auto;
}


.main-section-text h2 {
   font-size: 48px; /* Increased font size */
   margin-bottom: 20px;
   color: #ffffff;
   font-style: italic ;
}

.main-section-text p {
   font-size: 18px;
   margin-bottom: 30px;
}

.cta-button {
   display: inline-block;
   padding: 20px 40px; /* Increased padding for a larger button */
   background-color: #fff;
   color: #3498db;
   border-radius: 5px;
   font-size: 18px;
   transition: background-color 0.3s ease;
}

.cta-button:hover {
   background-color: #3498db;
   color: #fff;
}

/* Featured Stories Styles */

.featured-stories {
   padding: 20px;
}

.featured-stories .container {
   margin-top: 150px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-items: flex-start; /* Align items to the top */
   text-align: center; /* Center-align text within the container */
   margin-top: 90px;
}

.featured-stories .story-card {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   width: 300px;
   text-align: center;
   transition: transform 0.3s ease;
   margin-bottom: 80px;
}

.featured-stories .story-card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-bottom: 1px solid #ddd;
}

.featured-stories .story-info {
   padding: 20px;
}

.featured-stories .story-info h3{
   color: #3498db;
   font-size: 20px;
   margin-bottom: 8px;
}

.featured-stories .story-info h4 {
   color: #000;
   font-size: 18px;
   margin-bottom: 12px;
}

.featured-stories .details-button {
   display: inline-block;
   background-color: #3498db;
   color: #fff;
   padding: 8px 16px;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.featured-stories .details-button:hover {
   background-color: #1a5276;
}

.featured-stories h2 {
   display: inline-block;
   width: 100%;
   font-size: 36px;
   margin-bottom: 20px;
   color: #3498db;
   background-color: #ffffff4d;
   display: inline-block;
   padding: 10px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ----------- */




/* about page */
.about-page {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.about-section {
   text-align: center;
   max-width: 800px;
   margin: 100px auto;
   padding: 40px 20px;
   
}

.about-section h2 {
   font-size: 36px;
   margin-bottom: 20px;
   color: #2980b9;
}

.about-section p {
   font-size: 18px;
   line-height: 1.6;
   color: #333;
   margin-bottom: 20px;
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 20px;
}

.interesting-fact {
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 20px;
}

.interesting-fact h3 {
   font-size: 24px;
   color: #2980b9;
   margin-bottom: 10px;
}

.interesting-fact p {
   font-size: 16px;
   color: #555;
   line-height: 1.4;
}





form {
   display: flex;
   flex-direction: column;
}

label {
   font-size: 18px;
   margin-bottom: 8px;
   color: #0d79d7;
}

input {
   padding: 15px;
   margin-bottom: 16px;
   font-size: 18px;
   border: 1px solid #3498db; /* Blue border */
   border-radius: 5px;
   color: #333; /* Text color */
}

button {
   padding: 15px 25px;
   font-size: 18px;
   color: #fff;
   background-color: #3498db; /* Blue background */
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #1a5276; /* Darker blue on hover */
}



/* login section */
body {
   background: url('https://images.unsplash.com/photo-1541346406486-7a642e80c0a5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover fixed; /* Set the image path and properties */
   margin: 0;
   padding: 0;
   font-family: 'Arial', sans-serif;
   color: #fff;
}

.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-align: center;
}

.login-section {
   max-width: 400px;
   margin: 0 auto;
   background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
   padding: 40px;
   border-radius: 8px; /* Optional: Add rounded corners for the login section */
}

.login-section h2 {
   font-size: 36px;
   margin-bottom: 20px;
   color: #3498db; /* Blue color */
}

.login-container label {
   display: block;
   font-size: 16px;
   margin-bottom: 8px;
   text-align: left;
}
.login-section .field a {
   color: #3498db;
   text-decoration: none;
   transition: color 0.3s ease;
}

.login-section .error-msg span {
   color: #d50000;
}

.login-section .field span {
   color: #000;
}



/* register page */
#register-page {
   background:  center/cover fixed; /* Set the background image path and properties */
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

#register {
   background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
   padding: 30px;
   border-radius: 8px; /* Optional: Add rounded corners for the form */
   max-width: 400px;
   width: 100%;
   text-align: center;
}

#register h2 {
   font-size: 36px;
   margin-bottom: 20px;
   color: #3498db; /* Blue color */
}

#register label {
   display: block;
   font-size: 16px;
   margin-bottom: 8px;
   text-align: left;
}

#register input {
   width: calc(100% - 20px); /* Adjust the width and add a bit of spacing on the sides */
   padding: 10px;
   margin: 0 auto 16px; /* Center the input fields */
   display: block; /* Make the inputs block elements */
   border: 1px solid #3498db;
   border-radius: 5px;
   font-size: 16px;
}

#register .btn.submit {
   background-color: #3498db;
   color: #fff;
   padding: 12px;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

#register .btn.submit:hover {
   background-color: #1a5276; /* Darker blue on hover */
}

#register .field {
   font-size: 14px;
   margin-top: 20px;
}

#register .field a {
   color: #3498db;
   text-decoration: none;
   transition: color 0.3s ease;
}

#register .field span{
   color: #000;
}

#register .error-msg span{
   color: #d50000;
}

#register .field a:hover {
   color: #1a5276; /* Darker blue on hover */
}

/* add story page */

#create-page {
   background:  center/cover fixed; /* Set the background image path and properties */
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

#create {
   background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
   padding: 20px;
   border-radius: 8px; /* Optional: Add rounded corners for the form */
   max-width: 400px;
   width: 100%;
   text-align: center;
}

#create h1 {
   font-size: 36px;
   margin-bottom: 20px;
   color: #3498db; /* Blue color */
}

#create label {
   display: block;
   font-size: 16px;
   margin-bottom: 8px;
   text-align: left; /* Align the labels to the left */
}

#create input,
#create textarea {
   width: calc(100% - 20px);
   padding: 10px;
   margin: 0 auto 16px; /* Add more margin-bottom for space between inputs and the button */
   display: block;
   border: 1px solid #3498db;
   border-radius: 5px;
   font-size: 16px;
}

#create .btn.submit {
   background-color: #3498db;
   color: #fff;
   padding: 12px;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

#create .btn.submit:hover {
   background-color: #1a5276; /* Darker blue on hover */
}


/* story list page */
.all-stories-page {
   padding: 20px;
}

.all-stories-page .container {
   margin-top: 150px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-items: flex-start; /* Align items to the top */
   text-align: center; /* Center-align text within the container */
   margin-top: 90px; /
}

.all-stories-page .story-card {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   width: 300px;
   text-align: center;
   transition: transform 0.3s ease;
}

.all-stories-page .story-card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-bottom: 1px solid #ddd;
}

.all-stories-page .story-info {
   padding: 20px;
}

.all-stories-page .story-info h3 {
   color: #3498db;
   font-size: 20px;
   margin-bottom: 8px;
}

.all-stories-page .story-info h2 {
   font-size: 18px;
   margin-bottom: 12px;
   color: #000;
}

.all-stories-page .details-button {
   display: inline-block;
   background-color: #3498db;
   color: #fff;
   padding: 8px 16px;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.all-stories-page .details-button:hover {
   background-color: #1a5276;
}


.all-stories-page h1 {
   display: inline-block;
   width: 100%;
   font-size: 36px;
   margin-bottom: 20px;
   color: #3498db;
   background-color: #fff; /* Set the background color to white */
   display: inline-block;
   padding: 10px; /* Add padding for space around the text */
   border-radius: 8px; /* Add rounded corners for a better visual appeal */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}



/* story detils css */

.details-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-bottom: 80px;
}

.details-container h1 {
   font-size: 36px;
   margin-bottom: 30px;
   color: #3498db;
   background-color: #fff; /* Background color for the "box" */
    padding: 10px 20px; /* Adjust padding to control the size of the "box" */
    border-radius: 4px; /* Add rounded corners for a better visual appeal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.details-container span{
   color: #3498db;
   background-color: #fff; /* Background color for the "box" */
   padding: 10px 20px; /* Adjust padding to control the size of the "box" */
   border-radius: 8px; /* Add rounded corners for a better visual appeal */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   display: inline-block;
}
.details-container p{
   color: #3498db;
   background-color: #fff; /* Background color for the "box" */
   padding: 10px 20px; /* Adjust padding to control the size of the "box" */
   border-radius: 8px; /* Add rounded corners for a better visual appeal */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   display: inline-block;
}




.details-container .story-picture {
   width: 30%; /* Make the image take up the full width of its container */
   height: auto; /* Maintain the aspect ratio */
   border-radius: 8px; /* Add rounded corners */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
   object-fit: cover; 
   margin-bottom: 20px;
}

.details-container .text {
   color: #3498db;
   font-size: 20px;
   line-height: 1.6;
   margin-bottom: 20px;
   background-color: #fff;
   padding: 15px; /* Adjust padding to control the size of the "box" */
    border-radius: 8px; /* Add rounded corners for a better visual appeal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.details-container .buttons {
   margin-top: 20px;
}

.details-container .button {
   display: inline-block;
   padding: 10px 20px;
   text-decoration: none;
   color: #fff;
   background-color: #3498db;
   border-radius: 5px;
   transition: background-color 0.3s ease;
   margin-right: 10px;
}

.details-container .button:hover {
   background-color: #1a5276;
}

.details-container .details-comments h2 {
   font-size: 24px;
   color: #3498db;
   margin-bottom: 10px;
   text-align: center;
}

.details-container .comment p {
   margin-bottom: 10px;
}

.details-container .no-comment {
   color: #555;
}

.details-container .create-comment {
   text-align: center; /* Center-align the create comment section */
   margin-top: 20px; 
}

.details-container label {
   font-size: 18px;
   margin-bottom: 8px;
   color: #0d79d7;
}

.details-container form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.details-container textarea {
   padding: 15px;
   margin-bottom: 16px;
   font-size: 18px;
   border: 1px solid #3498db;
   border-radius: 5px;
   color: #333;
}

.details-container .btn.submit {
   padding: 15px 25px;
   font-size: 18px;
   color: #fff;
   background-color: #3498db;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.details-container .btn.submit:hover {
   background-color: #1a5276;
}

.details-container .info-section {
   background-color: #88b8ddc5; /* Set the background color to white or your preferred color */
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px; /* Adjust the padding as needed */
}

.details-container .story-header {
   text-align: center; /* Center-align the content within the container */
}


.details-container .text,
.details-container .date,
.details-container .buttons {
   text-align: center; /* Center-align these elements within the container */
   margin-bottom: 20px; /* Add some space between these elements and the other content */
}

.details-container .comment {
   margin-bottom: 10px; /* Add some space between individual comments */
}

.details-container .create-comment {
   text-align: center; /* Center-align the create comment section */
   margin-top: 20px; /* Add some space between the create comment section and the comments */
   margin-bottom: 90px;
}

.details-container .create-comment label{
   color: #000;
   font-size: 25px;
   background-color: #fff; /* Background color for the "box" */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   border-radius: 8px; 
   padding: 10px 20px;
   margin: 30px 0;
}
.details-container .details-comments {
   background-color: #88b8ddc5; /* Set the background color to your preferred color */
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px; /* Adjust the padding as needed */
   margin-top: 20px; /* Add some space between the comment section and the other content */
}



/* footer css */
footer {
   background-color: #34495e;
   color: #ecf0f1;
   padding: 20px;
   text-align: center;
   position: fixed;
   width: 100%;
   bottom: 0;
}

.footer-content {
   max-width: 800px;
   margin: 0 auto;
}

.footer-content p {
   margin: 0;
   font-size: 14px;
}

.footer-content p:first-child {
   margin-bottom: 10px;
}


/* my profile section */
#my-profile {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   margin-top: 140px;
}

#my-profile .profile-info,
#my-profile .profile-actions {
   flex: 1;
   margin: 0 20px;
}

#my-profile .profile-info h1 {
   font-size: 60px;
   color: #00101b;
   
}

#my-profile .avatar {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-bottom: 10px;
}

#my-profile .profile-info p {
   font-size: 40px;
   color: #00101b;
   margin-bottom: 10px;
   margin-top: 300px;
}

#my-profile .profile-actions h2 {
   font-size: 30px;
   margin-bottom: 10px;
   color: #00101b;

}

#my-profile .story-card {
   display: flex;
   align-items: center;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
}

#my-profile .story-card img {
   max-width: 150px;
   border-radius: 8px 0 0 8px;
}

#my-profile .story-info {
   padding: 20px;
}

#my-profile .story-info h3 {
   font-size: 18px;
   margin-bottom: 5px;
   color: #0d79d7;
}

#my-profile .story-info h2 {
   font-size: 24px;
   margin-bottom: 10px;
   color: #0d79d7;
}

#my-profile .details-button {
   display: inline-block;
   background-color: #3498db;
   color: #fff;
   padding: 10px 20px;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

#my-profile .details-button:hover {
   background-color: #2980b9;
}


.notfound {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-align: center;
}

.notfound h1 {
   font-size: 70px;
   color: #333; /* Change the color to your preference */
   margin: 0;
}